* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

/* Color Section  */
.bg-primary {
    background-color: #00A4DE;
}
.bg-secondary {
    background-color: #00C9A7;
}
/* End Color Section  */

.navbar {
    display: flex;
    justify-content: center;
    background-color: #000;
    overflow: hidden;
}

.navbar a {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
}

.navbar a:hover,
.navbar a.active {
    background-color: #04aa6d;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: 1rem 2rem;
    background-color: white;
}

.price {
    color: grey;
    font-size: 16px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

#cart {
    border-collapse: collapse;
    width: 100%;
}

#cart td, #cart th {
    border: 1px solid #ddd;
    padding: 8px;
}

#cart tr:nth-child(even){
    background-color: #f2f2f2;
}

#cart tr:nth-child(odd){
    background-color: aqua;
}

#cart tr:hover {
    background-color: #ddd;
}

#cart th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04aa6d;
    color: white;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-blue {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button-blue:hover {
  background-color: #008CBA;
  color: white;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
}

/* Padding Section  */
.p-0 {
    padding: 0 !important;
  }
  
  .p-1 {
    padding: 0.25rem !important;
  }
  
  .p-2 {
    padding: 0.5rem !important;
  }
  
  .p-3 {
    padding: 1rem !important;
  }
  
  .p-4 {
    padding: 1.5rem !important;
  }
  
  .p-5 {
    padding: 3rem !important;
  }
/* End Padding Section  */
/* Margin Section  */
.m-0 {
    margin: 0 !important;
  }
  
  .m-1 {
    margin: 0.25rem !important;
  }
  
  .m-2 {
    margin: 0.5rem !important;
  }
  
  .m-3 {
    margin: 1rem !important;
  }
  
  .m-4 {
    margin: 1.5rem !important;
  }
  
  .m-5 {
    margin: 3rem !important;
  }
  
  .m-auto {
    margin: auto !important;
  }
  .mt-0 {
    margin-top: 0 !important;
  }
  
  .mt-1 {
    margin-top: 0.25rem !important;
  }
  
  .mt-2 {
    margin-top: 0.5rem !important;
  }
  
  .mt-3 {
    margin-top: 1rem !important;
  }
  
  .mt-4 {
    margin-top: 1.5rem !important;
  }
  
  .mt-5 {
    margin-top: 3rem !important;
  }
  
  .mt-auto {
    margin-top: auto !important;
  }
/* End Margin Section  */