footer {
  background-color: cornflowerblue;
  padding: 15px;
  position: relative;
  margin-top: 2rem;
  bottom: 0;
}
footer > p {
  width: fit-content;
  margin: 0 auto;
  color: white;
  font-weight: bold;
}
