* {
    box-sizing: border-box;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #00A8B2; 
    margin: 0; 
}

.container {
    display: block; 
    text-align: center; 
    background-color: #706CB8; 
    margin: 4rem auto; 
    padding: 2rem; 
    width: 80%; 
    border-radius: 12px;
}

.card {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 1rem;
}

.card > .card-items { 
    background-color: aqua;
    width: 300px; 
    border-radius: 12px; 
    margin: 1rem;
    border: 2px dashed #000;
}

.card-items img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.card-items h1 {
    font-weight: bold;
    color: red;
}