aside {
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  display: block
}
h2 {
  color: black;
  text-align: center;
}
form {
  margin: 1rem 0;
  display: block;
}
.form-input > label,
.form-input > input {
  display: block;
  width: 90%;
}
.form-input > input {
  margin-bottom: 1rem;
}
form > button {
  background-color: green;
}
