* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
body {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #000;
    overflow: hidden;
}
  
.navbar a {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;
}
  
.navbar a:hover,
.navbar a.active {
    background-color: #04aa6d;
}
  
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.container {
    padding: 18px;
    height: auto;
}

.row {
    display: flex;
    align-items: stretch;
    margin-top: 30px;
}

.column {
    margin: 10px;
    padding: 10px;
}

.grid {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-top: 30px;
}

.grid-item {
    background-color: #1c87c9;
    padding: 10px;
}