@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
:root {
    --bc-text: #6ee7b7;
    --bc-nav: #1e293b;
}
* {
    box-sizing: border-box;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f1f5f9;
}
header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 10;
}
nav {
    background-color: var(--bc-nav);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    color: white;
    padding: 1rem;
    text-decoration: none;
}
.brand {
    float: left;
    color: var(--bc-text) !important;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 1rem;
}
.menu {
    float: right;
    margin: 6px;
    font-size: 18px;
}
.menu:hover {
    color: var(--bc-text);
}
.active{
    color: var(--bc-text);
}
main {
    margin: 1vw auto;
    width: 80%;
}
main > header {
    padding: 12px;
    font-weight: bold;
    z-index: 1;
}
#jumbotron {
    padding: 0.5vw 1vw;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.video {
    width: 55vh;
    height: 30vh;
    float: left;
    background-color: #cdcfd1;
    margin: 8px;
    border-radius: 12px;
}
.desc {
    float: right;
    width: 85vh;
    top: 50%;
    margin-left: 2rem;
}
.desc h1 {
    color: #10b981;
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
}
.desc p {
    font-size: 18px;
}
#content {
    position: relative;
}
#content > h2 {
    text-align: center;
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem;
    margin-top: 0;
}
.card-items {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}
.card-items .image {
    background-color: #f1f5f9;
    width: 100%;
    height: 300px;
}
.image img {
    width: 100%;
    max-width: 200px;
}
.more a{
    text-decoration: none;
    font-weight: 600;
    color: #10b981;
}
.more a:hover {
    color: var(--bc-text);
}
section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    z-index: 0;
}
header p{
    font-size: large;
    font-weight: bolder;
}
section header > a{
    display: block;
    text-decoration: none;
    background-color: #10b981;
    color: white;
    padding: 5px;
    border-radius: 8px;
}
.form {
    display: flex;
    align-items: center;
}
.input {
    width: 50%;
    display: flex;
    flex-direction: column;
}
input[type=text] {
    width: 80%;
    padding: 6px;
    margin-bottom: 12px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
input[type=text]:focus {
    background-color: rgba(0, 0, 0, 0.1);
}
.upload {
    display: flex;
    width: 40%;
    height: 100px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.btn {
    text-decoration: none;
    background-color: #10b981;
    color: white;
    padding: 8px;
    border-radius: 12px;
    font-weight: 600;
}
#section {
    background-color: #60BAAE;
    margin: 2rem;
    padding: 2rem;
    border-radius: 12px;
}

footer {
    background-color: var(--bc-nav);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    margin-top: 5rem;
}
footer a {
    text-decoration: none;
    color: #ddd;
    margin-right: 1vw;
    font-weight: 500;
}
footer a:hover {
    color: white;
}